{% extends 'base.html' %}



{% block title %}
  To-do list
{% endblock title %}



{% block content %}

  <!-- Tytuł bieżącej strony -->
  <h1>Your to-do lists</h1>

  <!-- Powiadomienie o utworzeniu nowej listy -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <small><sup>x</sup></small>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <!-- Zestawienie utworzonych list -->
  {% if list_features %}
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">List</th>
          <th scope="col">Created</th>
          <th scope="col"><center>Action</center></th>
        </tr>
      </thead>
      <tbody>
        {% for list_feature in list_features %}
          <tr class="table-secondary">
            <td>{{ list_feature.id }}</td>
            <td>{{ list_feature.list_title }}</td>
            <td><i>{{ list_feature.date_added }}</i></td>
            <td>
              <center>
                <a class="btn btn-secondary" href="{% url 'edit_list' list_feature.id %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'remove_list' list_feature.id %}" role="button">Remove</a>
              </center>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
  {% endif %}

{% endblock content %}

