{% extends 'base.html' %}

{% block title %}
To-do list | {{ list.list_title }}
{% endblock title %}

{% block content %}

  <!-- Powiadomienie o utworzeniu nowej pozycji na liście -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
          <small><sup>x</sup></small>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <!-- Tytuł bieżącej strony -->
  <h1>To-do list: {{ list.list_title }}</h1>
  <br>

  <!-- Dodawanie nowej pozycji na liście -->
  <form class="d-flex" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="text" placeholder="New item" aria-label="" name='item'>
    <input class="form-control me-2" type="text" placeholder="Description" aria-label="" name='description'>
    <button class="btn btn-outline-success btn-sm" type="submit">Add item</button>
  </form>
  <br>

  <!-- Zestawienie elementów listy -->
  {% if list_items %}
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
          <th scope="col"><center>Edit</center></th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        {% for list_item in list_items %}
          {% if list_item.completed == True %}
            <tr class="table-success">
              <th scope="row">{{ list_item.id }}</th>
              <td class="striker">{{ list_item.item }}
                <a class="btn btn-info btn-sm" href="{% url 'create_subitem' list_item.id %}" role="button">+ subitem</a>
              </td>
              <td><i>{{ list_item.description }}</i></td>
              <td>
                <center>
                  <a href="{% url 'cross_off_item' list_item.id %}">
                    <input class="form-check-input" type="submit" value="">
                  </a>
                </center> 
              </td>
              <td>
                <center>
                  <a class="btn btn-danger btn-sm" href="{% url 'remove_item' list_item.id %}" role="button">Remove</a>
                </center>
              </td>
            </tr>
          {% else %}
            <tr>
              <th scope="row">{{ list_item.id }}</th>
              <td>{{ list_item.item }}
                <a class="btn btn-info btn-sm" href="{% url 'create_subitem' list_item.id %}" role="button">+ subitem</a>
              </td>
              <td><i>{{ list_item.description }}</i></td>                        
              <td>
                <center>
                  <a href="{% url 'cross_item' list_item.id %}">
                    <input class="form-check-input" type="submit" value="">
                  </a>
                </center> 
              </td>
              <td>
                <center>
                  <a class="btn btn-secondary btn-sm" href="{% url 'edit_item' list_item.id %}" role="button">Edit</a>
                  <a class="btn btn-danger btn-sm" href="{% url 'remove_item' list_item.id %}" role="button">Remove</a>
                </center>
              </td>
            </tr>

          {% endif %}
        {% endfor %}
      </tbody>
    </table>    
  {% endif %}

{% endblock content %}

